.lists {
  font-size: 14px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 30px;
}

.overlay:hover {
  opacity: 1;
}

.overlay-text {
  position: relative;
  top: 40%;
  padding: 8px;
  font-weight: bold;
}
.tech-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5%;
  justify-content: center;
  text-align: center;
}

.tech-stack {
  text-align: center;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(252, 120, 13);
  border: 1px solid rgb(252, 120, 13);
  border-radius: 8px;
  font-size: medium;

}

.tech-stack:hover {
  background-color: #ffffff;
}

#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: center;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;


        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      position: relative;
      width: 90%;
      margin: 0 auto 8px;

      @include respond(tab-land) {
        width: 100%;
        margin: 0 auto 8px;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

// Small Screen Devices
@media only screen and (max-width: 762px) {
  .overlay-text {
    position: absolute;
    top: 5%;
  }
}
